@import '~styles/variable';

.chat {
  display: flex;
  background-color: #fff;
  height: 100%;
  width: auto;
  max-width: 1300px;
  margin: 0 auto;

  .ant-btn-circle {
    border: 0;
    box-shadow: none;
    color: #000000;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }

    &:after {
      display: none;
    }
  }

  i.anticon {
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;
  }

  &__dialog {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-messages {
      flex: 1 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100% - 1500px);
    }
  }
}
